html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .bg {
    background-image: url('../assets/Tiet_Track_Mhostel.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(40%);
    
}
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  .selectContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .selectLabel {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .selectInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
  }
  
  .selectInput:hover {
    border-color: #007bff;
  }
  
  .submitButton {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #218838;
  }
  
  .toggleSignup {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
  }
  
  .toggleSignup:hover {
    text-decoration: underline;
  }
  